.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #1a1f2e;
}

.main-content {
  flex: 1;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1a1f2e;
}

.content-wrapper {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  background-color: #1a1f2e;
}

@media (max-width: 1024px) {
  .admin-layout {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}